<!DOCTYPE html>
<html>
  <head>
    <title>Analysis Progress</title>
    <style>
      /* Add your custom CSS styles here */
      .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      .message {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <h2>Analysis Progress</h2>
      <div id="progress"></div>
      <br />
      <div id="result" style="display: none">
        <div class="message">Analysis completed!</div>
        <div class="message">Download the processed data:</div>
        <a href="{{ url_for('download', filename='final_df.csv') }}" download
          >Download</a
        >
      </div>
    </div>

    <script>
      // Update the progress div with the current step and timestamp
      function updateProgress(step, start, end) {
        var progressDiv = document.getElementById("progress");
        var message =
          step +
          " - Started at: " +
          new Date(start).toLocaleTimeString() +
          ", Ended at: " +
          new Date(end).toLocaleTimeString();
        progressDiv.innerHTML += "<div class='message'>" + message + "</div>";
        progressDiv.scrollTop = progressDiv.scrollHeight;
      }

      // Show the result div after analysis completion
      function showResult() {
        document.getElementById("progress").style.display = "block";
        document.getElementById("result").style.display = "block";
      }

      // Simulate analysis progress (for demonstration purposes)
      function simulateProgress() {
        fetch("/progress") // Send a request to the server to get progress and timestamps
          .then((response) => response.json())
          .then((data) => {
            data.forEach((item) => {
              updateProgress(item.step, item.start_time, item.end_time);
            });
            

            if (data[data.length - 1].step === "Saving the result") {
              showResult();
            }
          });
      }

      // Call the simulateProgress function to start simulating progress
      simulateProgress();
    </script>
  </body>
</html>
